@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.orb-spin {
  animation: slow-spin 10s linear infinite;
  transform-origin: center center;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Custom thin scrollbar class */
.thin-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 transparent; /* Firefox */
}

/* WebKit Browsers (Chrome, Safari, Edge) */
.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.btn-animated-gradient {
  background: linear-gradient(270deg, #ff6ec4, #7873f5, #4ade80, #facc15);
  background-size: 800% 800%;
  animation: rainbowFlow 6s ease infinite;
}

@keyframes rainbowFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
